<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <h3>Evaluate News NPL</h3>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                  <div class="form-group">
                    <input class="form-control" id="url" type="text" name="url" value="" placeholder="url">
                    <input class="btn btn-success" type="submit" name="" value="Submit">
                  </div>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <table class="table table-borderless">
                        <thead class="font-weight-bold">
                          <tr>
                            <th scope="col">Polarity</th>
                            <th scope="col">Agreement</th>
                            <th scope="col">Subjectivity</th>
                            <th scope="col">Confidence</th>
                            <th scope="col">Irony</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="polarity">...</td>
                            <td id="agreement">...</td>
                            <td id="subjectivity">...</td>
                            <td id="confidence">...</td>
                            <td id="irony">...</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </section>
        </main>

        <footer>
            <p>Enjoy</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>
    </body>
</html>
