$coloOne: #e67e22;

form {
    border: 1px solid $coloOne;
    border-radius: 3px;
    padding: 40px;

    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    
    .btn {
        background-color: #2c3e50;
        border: none;
        border-radius: 6px;
        color: #FFF;
    }
}


